body, svg {
  background-color: pink;
}

g {
  display: inline;
}

.yellow {
  fill: #d5d35d;
}

.green {
  fill: #7daf84;
}

.orange {
  fill: #d89c60;
}

.blue {
  fill: #94929a;
}

g:hover {
  fill: red;
}

g.district>path {
  fill-opacity: 1;
  fill-rule: evenodd;
  stroke: none;
  stroke-width: 3;
  stroke-linecap: butt;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  display: inline;
  border: 10px solid red;
}

text {
  font-size: 28px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  font-stretch: normal;
  text-align: center;
  line-height: 100%;
  writing-mode: lr-tb;
  text-anchor: middle;
  fill: black;
  fill-opacity: 1;
  stroke: none;
  stroke-width: 1px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-opacity: 1;
  font-family: Arial;
}

g.city-border>path {
  opacity: 1;
  fill: none;
  fill-rule: evenodd;
  stroke: black;
  stroke-width: 4;
  stroke-linecap: butt;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-opacity: 1;
}

g.river>path {
  fill: #2c5aa0;
  fill-rule: evenodd;
  stroke: none;
  stroke-width: 0.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-opacity: 1;
}

g.borders>path {
  opacity: 1;
  fill: none;
  fill-rule: evenodd;
  stroke: white;
  stroke-width: 3;
  stroke-linecap: butt;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-opacity: 1;
  display: inline;
}